---
import Layout from '../layouts/Layout.astro';

const title = "Hello, I'm Mike!";
---

<Layout title={title}>
    <main>
        <div class="intro">{title}</div>
        <div class="tagline">
            Full-Stack Dev | Code Fanatic | Mac Hacker | 💻
        </div>
        <div class="icons-social">
            <a target="_blank" href="https://github.com/1mku">
                <i class="fa-brands fa-github" aria-hidden="true" title="Github"
                ></i>
                <span class="sr-only">Github</span>
            </a>
            <a target="_blank" href="https://twitter.com/mkushchov">
                <i
                    class="fa-brands fa-twitter"
                    aria-hidden="true"
                    title="Twitter"></i>
                <span class="sr-only">Twitter</span>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/mkushchov">
                <i
                    class="fa-brands fa-linkedin"
                    aria-hidden="true"
                    title="LinkedIn"></i>
                <span class="sr-only">LinkedIn</span>
            </a>
        </div>
    </main>
</Layout>

<style></style>
