<div class="marquee">
    <div class="content scroll">
        <slot />
        <slot />
        <slot />
    </div>
</div>

<style>
    .marquee {
        width: 100%;
        grid-column-gap: 1rem;
        background-color: transparent;
        margin-bottom: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        overflow: hidden;
    }

    .content {
        min-width: 100%;
        grid-column-gap: 1rem;
        display: flex;
    }
    .scroll {
        animation: scroll 20s linear infinite;
    }
    @keyframes scroll {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
</style>
